.CanvasContainer { height: 100%; }
input[type='number'] {
  width: 5em;
}

.details, .controls {
  box-sizing: border-box;
  font-family: monospace;
  height: 120px;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cell {
  text-align: center;
}
