.details {
  background: whitesmoke;
  font-size: 0.75rem;
}

.raw { width: 60%; }
.magnitudes { width: 25%; }
.magnitudes th { width: 48px; }
.magnitudes td { display: block; width: 80px; }

thead th { text-align: right; }
.raw tbody th { text-align: left; width: 16%; }
.raw td { width: 28%; }
td { text-align: right; padding: 0.25rem; }

.derived { width: 100%; }
.derived td {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  white-space: nowrap;
}

