.details {
  background: whitesmoke;
}

table:nth-child(1) { width: 60%; }
table:nth-child(2) { width: 25%; }

thead th { text-align: center; }
table:nth-child(1) tbody th { text-align: left; width: 16%; }
table:nth-child(1) td { width: 28%; }
td { text-align: right; }
