.TCanvas {
  margin: 60px auto;
  width: 600px;
}

.TCanvas svg {
  border: 1px solid green;
  width: 600px;
  height: 600px;
}

input[type='number'] {
  width: 5em;
}

.details {
  font-family: monospace;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cell {
  text-align: center;
}

.cell label {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
}
